n8n-linkedin-creators.json
{
  "_comment": "linkedin-hq creator feed v2 — TEMPLATE with placeholders. Import the gitignored sibling n8n-linkedin-creators.local.json instead — it has all secrets pre-filled. Sequential flow: scrape → ingest to Intel tab → plan comments (reads back from Intel) → split → wait → POST to LinkedIn → log result back to Intel row → Slack notify. Comment data lives as 4 extra columns on each Intel row, not in a separate Comments tab.",
  "name": "LinkedIn HQ — creator feed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-960, 0],
      "id": "trigger-1",
      "name": "Daily midnight PKT"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sACPFVKrHTxqUt1_Gc9X13D0NupZHwXbDsFNzWIx2Rk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-752, 0],
      "id": "read-config",
      "name": "Read linkedin-hq Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AUTO_MATCH_BY_NAME",
          "name": "Soph Google Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst config = {};\nfor (const r of rows) {\n  const key = r.key || r.A;\n  const val = r.value !== undefined ? r.value : r.B;\n  if (key) config[key] = val == null ? '' : String(val);\n}\nconst raw = config['linkedin_creators'] || '';\nconst perCreator = parseInt(config['linkedin_posts_per_creator'] || '5', 10);\nconst urls = raw\n  .split('\\n')\n  .map(s => s.trim())\n  .filter(s => s.length > 0 && s.startsWith('http'));\nif (urls.length === 0) {\n  throw new Error('linkedin_creators is empty in the linkedin-hq Config tab.');\n}\nreturn urls.map(url => ({\n  json: {\n    targetUrl: url,\n    maxPosts: perCreator,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-528, 0],
      "id": "parse-config",
      "name": "Parse creator list"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/A3cAPGpwBEG8RJwse/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_APIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"maxComments\": 5,\n  \"maxPosts\": {{ $json.maxPosts }},\n  \"maxReactions\": 5,\n  \"postedLimit\": \"week\",\n  \"scrapeComments\": false,\n  \"scrapeReactions\": false,\n  \"targetUrls\": [\"{{ $json.targetUrl }}\"]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-304, 0],
      "id": "apify-call",
      "name": "Apify — scrape creator posts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-80, 0],
      "id": "aggregate",
      "name": "Aggregate posts"
    },
    {
      "parameters": {
        "jsCode": "// Map raw Apify items into the shape /api/intel/ingest expects.\nconst raw = $input.first().json.items || [];\nconst out = [];\nfor (const p of raw) {\n  if (!p) continue;\n  const url = p.linkedinUrl || p.postUrl || p.url || '';\n  const text = p.content || p.text || '';\n  if (!url || !text) continue;\n  const author = p.author || {};\n  const engagement = p.engagement || {};\n  const postedAt = p.postedAt || {};\n  out.push({\n    creator_url: author.linkedinUrl || '',\n    creator_name: author.name || 'linkedin',\n    posted_at: (typeof postedAt === 'object' ? postedAt.date : postedAt) || '',\n    url,\n    text,\n    reactions: Number(engagement.likes || 0),\n    comments: Number(engagement.comments || 0),\n    type: 'linkedin',\n  });\n}\nreturn [{ json: { items: out } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 0],
      "id": "normalize",
      "name": "Normalize for ingest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/intel/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ingest-token",
              "value": "REPLACE_WITH_INGEST_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [368, 0],
      "id": "post-ingest",
      "name": "POST to /api/intel/ingest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [592, 0],
      "id": "post-plan",
      "name": "POST to /api/comments/plan"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [816, 0],
      "id": "split-comments",
      "name": "Split comments"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1040, 0],
      "id": "loop-comments",
      "name": "Loop comments"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Random wait between 45-120 seconds per comment.\n// Items are processed one at a time via the Loop node,\n// so each comment genuinely waits before the next starts.\nconst seconds = 45 + Math.floor(Math.random() * 75);\nreturn { json: { ...$json, wait_seconds: seconds } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, 0],
      "id": "calc-wait",
      "name": "Calculate random wait"
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_seconds }}",
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1488, 0],
      "id": "wait-random",
      "name": "Wait (humanize cadence)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ encodeURIComponent($json.post_urn) }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:CYH_eYFiZb\",\n  \"object\": \"{{ $json.post_urn }}\",\n  \"message\": {\n    \"text\": \"{{ $json.comment_text.replace(/\"/g, '\\\\\"') }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1712, 0],
      "id": "post-comment",
      "name": "POST comment to LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Dg0fNXlvpYL0WwHR",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Look at the LinkedIn POST response. If it's 201, we're done — pass\n// through with first_attempt_status='ok'. If it's 400 with the specific\n// 'is not the same as the actual thread.urn' error, parse the correct\n// urn:li:ugcPost or urn:li:share urn from the error message and emit a\n// retry payload. Any other failure, just mark for failure logging.\n//\n// We also stash the original comment context (url, comment_text, etc.)\n// from the previous Wait node into the output so downstream Log/Slack\n// nodes don't have to do paired-item lookups across the failed POST.\n\nconst response = $json;\nconst statusCode = response.statusCode;\nconst body = response.body || {};\nconst bodyStr = typeof body === 'string' ? body : JSON.stringify(body);\n\n// Pull the original context from the Wait node (the immediate predecessor\n// of POST). This is the same item, so n8n can resolve it via paired items\n// because we're in 'runOnceForEachItem' mode.\nconst ctx = $('Wait (humanize cadence)').item.json;\n\nif (statusCode === 201) {\n  // First attempt worked.\n  return {\n    json: {\n      ...ctx,\n      first_attempt_status: 'ok',\n      linkedin_status: 201,\n    },\n  };\n}\n\n// Try to parse the correct URN from the error message.\n// LinkedIn returns something like:\n//   \"Provided thread.urn:li:activity:XXX is not the same as the actual\n//    thread.urn: urn:li:ugcPost:YYY\"\nconst urnMatches = bodyStr.match(/urn:li:(?:ugcPost|share|activity):\\d+/g) || [];\n// The error contains BOTH our wrong urn and the correct one. The correct\n// one is always the LAST match.\nconst correctUrn = urnMatches.length >= 2 ? urnMatches[urnMatches.length - 1] : null;\n\nif (statusCode === 400 && correctUrn && correctUrn !== ctx.post_urn) {\n  // We can retry with the correct URN.\n  return {\n    json: {\n      ...ctx,\n      first_attempt_status: 'retry_with_correct_urn',\n      retry_urn: correctUrn,\n      linkedin_status: statusCode,\n    },\n  };\n}\n\n// Any other failure — just mark as failed.\nreturn {\n  json: {\n    ...ctx,\n    first_attempt_status: 'failed',\n    linkedin_status: statusCode,\n    error_body: bodyStr.slice(0, 500),\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1936, 0],
      "id": "analyze-response",
      "name": "Analyze LinkedIn response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ok",
                    "leftValue": "={{ $json.first_attempt_status }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "retry",
                    "leftValue": "={{ $json.first_attempt_status }}",
                    "rightValue": "retry_with_correct_urn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "retry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "failed",
                    "leftValue": "={{ $json.first_attempt_status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [2160, 0],
      "id": "branch-response",
      "name": "Branch on response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ encodeURIComponent($json.retry_urn) }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:CYH_eYFiZb\",\n  \"object\": \"{{ $json.retry_urn }}\",\n  \"message\": {\n    \"text\": \"{{ $json.comment_text.replace(/\"/g, '\\\\\"') }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2384, 80],
      "id": "retry-post",
      "name": "Retry POST with correct URN",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Dg0fNXlvpYL0WwHR",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Carry the original context through to the post-retry log/slack\n// nodes. Same pattern as Analyze LinkedIn response.\nconst response = $json;\nconst statusCode = response.statusCode;\nconst ctx = $('Branch on response').item.json;\nreturn {\n  json: {\n    ...ctx,\n    retry_status: statusCode,\n    retry_ok: statusCode === 201,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2608, 80],
      "id": "analyze-retry",
      "name": "Analyze retry response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "retry-ok",
              "leftValue": "={{ $json.retry_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2832, 80],
      "id": "check-retry",
      "name": "Was retry 201?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"status\": \"posted\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3056, -80],
      "id": "log-success",
      "name": "Log posted"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"status\": \"post_failed\",\n  \"error\": \"linkedin returned {{ $json.linkedin_status || $json.retry_status }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3056, 160],
      "id": "log-failure",
      "name": "Log failed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "linkedin-comments",
          "mode": "name"
        },
        "text": "=auto-commented on *{{ $json.creator_name }}*'s post:\n\n> {{ $json.comment_text }}\n\nstyle: `{{ $json.style_preset }}`\nlink: <{{ $json.url }}|view post>\n\npreview: _{{ $json.post_preview }}_",
        "otherOptions": {
          "includeLinkUnfurls": false,
          "includeLinkUnfurlsMedia": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [3280, -80],
      "id": "slack-success",
      "name": "Slack notify (posted)",
      "webhookId": "linkedin-hq-slack-success",
      "credentials": {
        "slackOAuth2Api": {
          "id": "4mJJu3Vcba9QnUDR",
          "name": "sophiya-slack-connection"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "linkedin-comments",
          "mode": "name"
        },
        "text": "=:warning: failed to post comment on *{{ $json.creator_name }}*'s post\n\nattempted comment:\n> {{ $json.comment_text }}\n\nlink: <{{ $json.url }}|view post>\nstatus: {{ $json.linkedin_status || $json.retry_status }}\nerror: `{{ ($json.error_body || '').slice(0, 200) }}`",
        "otherOptions": {
          "includeLinkUnfurls": false,
          "includeLinkUnfurlsMedia": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [3280, 160],
      "id": "slack-failure",
      "name": "Slack notify (failed)",
      "webhookId": "linkedin-hq-slack-failure",
      "credentials": {
        "slackOAuth2Api": {
          "id": "4mJJu3Vcba9QnUDR",
          "name": "sophiya-slack-connection"
        }
      }
    },
    {
      "parameters": {
        "content": "## linkedin-hq creator feed v2 — with auto-comment\n\n**Sequential flow:**\n1. Schedule trigger every 4h\n2. Read linkedin_creators from the linkedin-hq Config tab\n3. Apify scrape latest posts from each creator\n4. Aggregate + normalize into intel item shape\n5. POST to /api/intel/ingest — writes scraped posts to the Intel tab (for /news display)\n6. POST to /api/comments/plan — Vercel reads the Intel tab, picks LinkedIn posts that don't yet have a comment, generates one comment per post via Claude, runs the voice quality gate, writes the draft comment_text + comment_status='draft' + comment_style straight into the matching Intel row's new comment columns, returns the approved comments to n8n\n7. Split returned comments into individual items\n8. Random 30-90s wait per item (humanize cadence — never burst-post all 5 in 2 seconds)\n9. POST each comment to LinkedIn /v2/socialActions/{urn}/comments via the existing OAuth credential\n10. Branch on success (201) vs failure\n11. Log result back to /api/comments/log → updates the matching Intel row's comment_status to 'posted' or 'post_failed' (looked up by URL)\n12. Slack notify the #linkedin-comments channel either way\n\n**Why this design:**\n- One row per LinkedIn post in Intel, with comment data attached. No separate Comments tab. You can scan the Intel tab and see exactly which posts have a comment and which don't, in one place.\n- Daily cap (default 5) is enforced by /api/comments/plan reading the Intel tab. Once 5 posts today have comment_status='posted', /plan returns an empty list and posts nothing until tomorrow.\n- Dedup is automatic — /plan only picks rows where comment_status is empty.\n\n**Hardcoded values:**\n- LINKEDIN_HQ ingest token: `REPLACE_WITH_INGEST_TOKEN`\n- LinkedIn person URN: `urn:li:person:CYH_eYFiZb` (Taha)\n- Apify token: existing leaked one\n- LinkedIn OAuth credential: `LinkedIn account` (id `Dg0fNXlvpYL0WwHR`, same as parasite flow)\n- Slack credential: `sophiya-slack-connection` (id `4mJJu3Vcba9QnUDR`, same as parasite flow)\n- Slack channel: `linkedin-comments` — create this in your workspace before activating\n\n**To kill a bad comment**: open the post URL from the Slack notification → delete the comment from LinkedIn UI → manually update the matching Intel row's comment_status to `deleted`.",
        "height": 600,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-960, -680],
      "typeVersion": 1,
      "id": "doc-note",
      "name": "Documentation"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-960, 400],
      "id": "trigger-post",
      "name": "Post approved 10am PKT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/check-reviews",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ingest-token",
              "value": "REPLACE_WITH_INGEST_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-528, 400],
      "id": "check-reviews",
      "name": "Check Slack reviews"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-304, 400],
      "id": "split-approved",
      "name": "Split approved"
    }
  ],
  "connections": {
    "Daily midnight PKT": {
      "main": [[{ "node": "Read linkedin-hq Config", "type": "main", "index": 0 }]]
    },
    "Read linkedin-hq Config": {
      "main": [[{ "node": "Parse creator list", "type": "main", "index": 0 }]]
    },
    "Parse creator list": {
      "main": [[{ "node": "Apify — scrape creator posts", "type": "main", "index": 0 }]]
    },
    "Apify — scrape creator posts": {
      "main": [[{ "node": "Aggregate posts", "type": "main", "index": 0 }]]
    },
    "Aggregate posts": {
      "main": [[{ "node": "Normalize for ingest", "type": "main", "index": 0 }]]
    },
    "Normalize for ingest": {
      "main": [[{ "node": "POST to /api/intel/ingest", "type": "main", "index": 0 }]]
    },
    "POST to /api/intel/ingest": {
      "main": [[{ "node": "POST to /api/comments/plan", "type": "main", "index": 0 }]]
    },
    "POST to /api/comments/plan": {
      "main": [[{ "node": "Split comments", "type": "main", "index": 0 }]]
    },
    "Split comments": {
      "main": [[{ "node": "Loop comments", "type": "main", "index": 0 }]]
    },
    "Loop comments": {
      "main": [
        [],
        [{ "node": "Calculate random wait", "type": "main", "index": 0 }]
      ]
    },
    "Calculate random wait": {
      "main": [[{ "node": "Wait (humanize cadence)", "type": "main", "index": 0 }]]
    },
    "Wait (humanize cadence)": {
      "main": [[{ "node": "POST comment to LinkedIn", "type": "main", "index": 0 }]]
    },
    "POST comment to LinkedIn": {
      "main": [[{ "node": "Analyze LinkedIn response", "type": "main", "index": 0 }]]
    },
    "Analyze LinkedIn response": {
      "main": [[{ "node": "Branch on response", "type": "main", "index": 0 }]]
    },
    "Branch on response": {
      "main": [
        [
          { "node": "Log posted", "type": "main", "index": 0 },
          { "node": "Slack notify (posted)", "type": "main", "index": 0 }
        ],
        [{ "node": "Retry POST with correct URN", "type": "main", "index": 0 }],
        [
          { "node": "Log failed", "type": "main", "index": 0 },
          { "node": "Slack notify (failed)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Post approved 10am PKT": {
      "main": [[{ "node": "Check Slack reviews", "type": "main", "index": 0 }]]
    },
    "Check Slack reviews": {
      "main": [[{ "node": "Split approved", "type": "main", "index": 0 }]]
    },
    "Split approved": {
      "main": [[{ "node": "Loop comments", "type": "main", "index": 0 }]]
    },
    "Log posted": {
      "main": [[{ "node": "Loop comments", "type": "main", "index": 0 }]]
    },
    "Log failed": {
      "main": [[{ "node": "Loop comments", "type": "main", "index": 0 }]]
    },
    "Retry POST with correct URN": {
      "main": [[{ "node": "Analyze retry response", "type": "main", "index": 0 }]]
    },
    "Analyze retry response": {
      "main": [[{ "node": "Was retry 201?", "type": "main", "index": 0 }]]
    },
    "Was retry 201?": {
      "main": [
        [
          { "node": "Log posted", "type": "main", "index": 0 },
          { "node": "Slack notify (posted)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Log failed", "type": "main", "index": 0 },
          { "node": "Slack notify (failed)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "Asia/Karachi" },
  "versionId": "linkedin-hq-feed-v2-pkt-schedule"
}
