n8n-gate0-comment-test.json
{
  "_comment": "Gate 0 test for the linkedin-hq auto-comment feature. v2 — removed the /v2/me node because the existing LinkedIn OAuth credential only has w_member_social scope, not r_liteprofile. Hardcoding the actor URN as urn:li:person:CYH_eYFiZb (the same id the parasite flow's Create a post node uses). Just import this and click Execute Workflow — no manual editing needed.",
  "name": "Gate 0 — LinkedIn comment API test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, 0],
      "id": "trigger",
      "name": "When clicking Execute"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post-urn-assign",
              "name": "post_urn",
              "value": "urn:li:activity:7449448814329085952",
              "type": "string"
            },
            {
              "id": "actor-urn-assign",
              "name": "actor_urn",
              "value": "urn:li:person:CYH_eYFiZb",
              "type": "string"
            },
            {
              "id": "comment-text-assign",
              "name": "comment_text",
              "value": "test comment please ignore, deleting in 30 seconds",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-432, 0],
      "id": "set-test-vars",
      "name": "Set test variables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ encodeURIComponent($json.post_urn) }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"{{ $json.actor_urn }}\",\n  \"object\": \"{{ $json.post_urn }}\",\n  \"message\": {\n    \"text\": \"{{ $json.comment_text }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-208, 0],
      "id": "post-comment",
      "name": "POST comment to LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Dg0fNXlvpYL0WwHR",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gate 0 — LinkedIn comment API test (v2)\n\n**v2 changes:** removed the `/v2/me` profile fetch because the existing LinkedIn OAuth credential only has `w_member_social` scope (not `r_liteprofile`). Hardcoding `urn:li:person:CYH_eYFiZb` as the actor — same id the parasite flow's `Create a post` node uses, so we know it's right.\n\n**Test post:** `urn:li:activity:7449448814329085952` (Taha's own post, supplied earlier).\n\n**Comment text:** `\"test comment please ignore, deleting in 30 seconds\"` — intentionally embarrassing so you remember to delete it.\n\n## How to run\n1. Click **Execute Workflow** at the bottom\n2. Click the **POST comment to LinkedIn** node → switch to **Output** tab in the right panel\n3. Read the `statusCode` and `body` fields\n\n## What the result means\n\n**statusCode 201** + JSON body with a comment URN → SUCCESS.\nThe official API works. Tell Claude. We build the full MVP. Also: jump to LinkedIn immediately and delete the test comment.\n\n**statusCode 401** with the same 'invalid, expired, revoked' message → the token is expired. You need to go to n8n Settings → Credentials → 'LinkedIn account' → click Reconnect (or delete and recreate). After reconnecting, run this test again. Note: the parasite flow's `Create a post` node will also be broken right now if the token is expired.\n\n**statusCode 403** with `PERMISSION_DENIED` → the official API rejects us at the comment endpoint specifically. Tell Claude. We pivot to the manual review fallback path.\n\n**statusCode 400** with `INVALID_URN` → URN format issue. Try editing the Set node and changing `urn:li:activity:` to `urn:li:share:` or `urn:li:ugcPost:`, then re-run.\n\n**statusCode 422** or any other 4xx → paste Claude the exact body and we debug.",
        "height": 700,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-640, -800],
      "typeVersion": 1,
      "id": "doc-note",
      "name": "Instructions"
    }
  ],
  "connections": {
    "When clicking Execute": {
      "main": [[{ "node": "Set test variables", "type": "main", "index": 0 }]]
    },
    "Set test variables": {
      "main": [[{ "node": "POST comment to LinkedIn", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "gate0-v2"
}
