n8n-linkedin-creators.json
{
  "_comment": "linkedin-hq creator feed v2 — TEMPLATE with placeholders. Import the gitignored sibling n8n-linkedin-creators.local.json instead — it has all secrets pre-filled. Sequential flow: scrape → ingest to Intel tab → plan comments (reads back from Intel) → split → wait → POST to LinkedIn → log result back to Intel row → Slack notify. Comment data lives as 4 extra columns on each Intel row, not in a separate Comments tab.",
  "name": "LinkedIn HQ — creator feed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-960, 0],
      "id": "trigger-1",
      "name": "Every 4 hours"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sACPFVKrHTxqUt1_Gc9X13D0NupZHwXbDsFNzWIx2Rk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-752, 0],
      "id": "read-config",
      "name": "Read linkedin-hq Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AUTO_MATCH_BY_NAME",
          "name": "Soph Google Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\nconst config = {};\nfor (const r of rows) {\n  const key = r.key || r.A;\n  const val = r.value !== undefined ? r.value : r.B;\n  if (key) config[key] = val == null ? '' : String(val);\n}\nconst raw = config['linkedin_creators'] || '';\nconst perCreator = parseInt(config['linkedin_posts_per_creator'] || '5', 10);\nconst urls = raw\n  .split('\\n')\n  .map(s => s.trim())\n  .filter(s => s.length > 0 && s.startsWith('http'));\nif (urls.length === 0) {\n  throw new Error('linkedin_creators is empty in the linkedin-hq Config tab.');\n}\nreturn [\n  {\n    json: {\n      targetUrls: urls,\n      maxPosts: perCreator,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-528, 0],
      "id": "parse-config",
      "name": "Parse creator list"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/A3cAPGpwBEG8RJwse/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_APIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"maxComments\": 5,\n  \"maxPosts\": {{ $json.maxPosts }},\n  \"maxReactions\": 5,\n  \"postedLimit\": \"week\",\n  \"scrapeComments\": false,\n  \"scrapeReactions\": false,\n  \"targetUrls\": {{ JSON.stringify($json.targetUrls) }}\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-304, 0],
      "id": "apify-call",
      "name": "Apify — scrape creator posts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [-80, 0],
      "id": "aggregate",
      "name": "Aggregate posts"
    },
    {
      "parameters": {
        "jsCode": "// Map raw Apify items into the shape /api/intel/ingest expects.\nconst raw = $input.first().json.items || [];\nconst out = [];\nfor (const p of raw) {\n  if (!p) continue;\n  const url = p.linkedinUrl || p.postUrl || p.url || '';\n  const text = p.content || p.text || '';\n  if (!url || !text) continue;\n  const author = p.author || {};\n  const engagement = p.engagement || {};\n  const postedAt = p.postedAt || {};\n  out.push({\n    creator_url: author.linkedinUrl || '',\n    creator_name: author.name || 'linkedin',\n    posted_at: (typeof postedAt === 'object' ? postedAt.date : postedAt) || '',\n    url,\n    text,\n    reactions: Number(engagement.likes || 0),\n    comments: Number(engagement.comments || 0),\n    type: 'linkedin',\n  });\n}\nreturn [{ json: { items: out } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 0],
      "id": "normalize",
      "name": "Normalize for ingest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/intel/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ingest-token",
              "value": "REPLACE_WITH_INGEST_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [368, 0],
      "id": "post-ingest",
      "name": "POST to /api/intel/ingest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [592, 0],
      "id": "post-plan",
      "name": "POST to /api/comments/plan"
    },
    {
      "parameters": {
        "fieldToSplitOut": "comments",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [816, 0],
      "id": "split-comments",
      "name": "Split comments"
    },
    {
      "parameters": {
        "jsCode": "// Randomized wait between 30 and 90 seconds. Spreads the 3-5 comments\n// over a few minutes instead of hammering LinkedIn back-to-back.\nconst ms = 30000 + Math.floor(Math.random() * 60000);\nreturn [{ json: { ...$json, wait_ms: ms } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0],
      "id": "calc-wait",
      "name": "Calculate random wait"
    },
    {
      "parameters": {
        "amount": "={{ $json.wait_ms }}",
        "unit": "ms"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1264, 0],
      "id": "wait-random",
      "name": "Wait (humanize cadence)",
      "webhookId": "linkedin-hq-comment-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ encodeURIComponent($json.post_urn) }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:CYH_eYFiZb\",\n  \"object\": \"{{ $json.post_urn }}\",\n  \"message\": {\n    \"text\": \"{{ $json.comment_text.replace(/\"/g, '\\\\\"') }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1488, 0],
      "id": "post-comment",
      "name": "POST comment to LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Dg0fNXlvpYL0WwHR",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-201",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 201,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1712, 0],
      "id": "check-success",
      "name": "Was it 201?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Split comments').item.json.url }}\",\n  \"status\": \"posted\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1936, -80],
      "id": "log-success",
      "name": "Log posted"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/comments/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Split comments').item.json.url }}\",\n  \"status\": \"post_failed\",\n  \"error\": \"linkedin returned {{ $json.statusCode }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1936, 80],
      "id": "log-failure",
      "name": "Log failed"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "linkedin-comments",
          "mode": "name"
        },
        "text": "=auto-commented on *{{ $('Split comments').item.json.creator_name }}*'s post:\n\n> {{ $('Split comments').item.json.comment_text }}\n\nstyle: `{{ $('Split comments').item.json.style_preset }}`\nlink: {{ $('Split comments').item.json.url }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2160, -80],
      "id": "slack-success",
      "name": "Slack notify (posted)",
      "webhookId": "linkedin-hq-slack-success",
      "credentials": {
        "slackOAuth2Api": {
          "id": "4mJJu3Vcba9QnUDR",
          "name": "sophiya-slack-connection"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "linkedin-comments",
          "mode": "name"
        },
        "text": "=:warning: failed to post comment on *{{ $('Split comments').item.json.creator_name }}*'s post\n\nattempted comment:\n> {{ $('Split comments').item.json.comment_text }}\n\nlink: {{ $('Split comments').item.json.url }}\nstatus: {{ $json.statusCode }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [2160, 80],
      "id": "slack-failure",
      "name": "Slack notify (failed)",
      "webhookId": "linkedin-hq-slack-failure",
      "credentials": {
        "slackOAuth2Api": {
          "id": "4mJJu3Vcba9QnUDR",
          "name": "sophiya-slack-connection"
        }
      }
    },
    {
      "parameters": {
        "content": "## linkedin-hq creator feed v2 — with auto-comment\n\n**Sequential flow:**\n1. Schedule trigger every 4h\n2. Read linkedin_creators from the linkedin-hq Config tab\n3. Apify scrape latest posts from each creator\n4. Aggregate + normalize into intel item shape\n5. POST to /api/intel/ingest — writes scraped posts to the Intel tab (for /news display)\n6. POST to /api/comments/plan — Vercel reads the Intel tab, picks LinkedIn posts that don't yet have a comment, generates one comment per post via Claude, runs the voice quality gate, writes the draft comment_text + comment_status='draft' + comment_style straight into the matching Intel row's new comment columns, returns the approved comments to n8n\n7. Split returned comments into individual items\n8. Random 30-90s wait per item (humanize cadence — never burst-post all 5 in 2 seconds)\n9. POST each comment to LinkedIn /v2/socialActions/{urn}/comments via the existing OAuth credential\n10. Branch on success (201) vs failure\n11. Log result back to /api/comments/log → updates the matching Intel row's comment_status to 'posted' or 'post_failed' (looked up by URL)\n12. Slack notify the #linkedin-comments channel either way\n\n**Why this design:**\n- One row per LinkedIn post in Intel, with comment data attached. No separate Comments tab. You can scan the Intel tab and see exactly which posts have a comment and which don't, in one place.\n- Daily cap (default 5) is enforced by /api/comments/plan reading the Intel tab. Once 5 posts today have comment_status='posted', /plan returns an empty list and posts nothing until tomorrow.\n- Dedup is automatic — /plan only picks rows where comment_status is empty.\n\n**Hardcoded values:**\n- LINKEDIN_HQ ingest token: `a11621255680d70047e1967dca84a3b9e67c91f942a237fb`\n- LinkedIn person URN: `urn:li:person:CYH_eYFiZb` (Taha)\n- Apify token: existing leaked one\n- LinkedIn OAuth credential: `LinkedIn account` (id `Dg0fNXlvpYL0WwHR`, same as parasite flow)\n- Slack credential: `sophiya-slack-connection` (id `4mJJu3Vcba9QnUDR`, same as parasite flow)\n- Slack channel: `linkedin-comments` — create this in your workspace before activating\n\n**To kill a bad comment**: open the post URL from the Slack notification → delete the comment from LinkedIn UI → manually update the matching Intel row's comment_status to `deleted`.",
        "height": 600,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-960, -680],
      "typeVersion": 1,
      "id": "doc-note",
      "name": "Documentation"
    }
  ],
  "connections": {
    "Every 4 hours": {
      "main": [[{ "node": "Read linkedin-hq Config", "type": "main", "index": 0 }]]
    },
    "Read linkedin-hq Config": {
      "main": [[{ "node": "Parse creator list", "type": "main", "index": 0 }]]
    },
    "Parse creator list": {
      "main": [[{ "node": "Apify — scrape creator posts", "type": "main", "index": 0 }]]
    },
    "Apify — scrape creator posts": {
      "main": [[{ "node": "Aggregate posts", "type": "main", "index": 0 }]]
    },
    "Aggregate posts": {
      "main": [[{ "node": "Normalize for ingest", "type": "main", "index": 0 }]]
    },
    "Normalize for ingest": {
      "main": [[{ "node": "POST to /api/intel/ingest", "type": "main", "index": 0 }]]
    },
    "POST to /api/intel/ingest": {
      "main": [[{ "node": "POST to /api/comments/plan", "type": "main", "index": 0 }]]
    },
    "POST to /api/comments/plan": {
      "main": [[{ "node": "Split comments", "type": "main", "index": 0 }]]
    },
    "Split comments": {
      "main": [[{ "node": "Calculate random wait", "type": "main", "index": 0 }]]
    },
    "Calculate random wait": {
      "main": [[{ "node": "Wait (humanize cadence)", "type": "main", "index": 0 }]]
    },
    "Wait (humanize cadence)": {
      "main": [[{ "node": "POST comment to LinkedIn", "type": "main", "index": 0 }]]
    },
    "POST comment to LinkedIn": {
      "main": [[{ "node": "Was it 201?", "type": "main", "index": 0 }]]
    },
    "Was it 201?": {
      "main": [
        [{ "node": "Log posted", "type": "main", "index": 0 }],
        [{ "node": "Log failed", "type": "main", "index": 0 }]
      ]
    },
    "Log posted": {
      "main": [[{ "node": "Slack notify (posted)", "type": "main", "index": 0 }]]
    },
    "Log failed": {
      "main": [[{ "node": "Slack notify (failed)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "linkedin-hq-feed-v2-intel-comments"
}
