n8n-linkedin-creators.json
{
  "_comment": "linkedin-hq creator feed — TEMPLATE with placeholders. To get a ready-to-import version with secrets pre-filled, see n8n-linkedin-creators.local.json (gitignored, generated from this template). This committed copy has REPLACE_WITH_APIFY_TOKEN and REPLACE_WITH_INGEST_TOKEN placeholders so it's safe to share publicly. Reads linkedin_creators from the linkedin-hq Config tab, scrapes posts via Apify HTTP API, POSTs results to /api/intel/ingest. Independent of the parasite flow.",
  "name": "LinkedIn HQ — creator feed",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, 0],
      "id": "trigger-1",
      "name": "Every 4 hours"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sACPFVKrHTxqUt1_Gc9X13D0NupZHwXbDsFNzWIx2Rk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-432, 0],
      "id": "read-config",
      "name": "Read linkedin-hq Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AUTO_MATCH_BY_NAME",
          "name": "Soph Google Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Config tab into a creator URL list.\n// The Config tab is key/value: column A = key, column B = value.\n// We pick out linkedin_creators (newline-separated URLs) and\n// linkedin_posts_per_creator (integer, default 5).\nconst rows = items.map(i => i.json);\nconst config = {};\nfor (const r of rows) {\n  const key = r.key || r.A;\n  const val = r.value !== undefined ? r.value : r.B;\n  if (key) config[key] = val == null ? '' : String(val);\n}\nconst raw = config['linkedin_creators'] || '';\nconst perCreator = parseInt(config['linkedin_posts_per_creator'] || '5', 10);\nconst urls = raw\n  .split('\\n')\n  .map(s => s.trim())\n  .filter(s => s.length > 0 && s.startsWith('http'));\nif (urls.length === 0) {\n  throw new Error('linkedin_creators is empty in the linkedin-hq Config tab. Add LinkedIn profile URLs (one per line) to row B for the linkedin_creators key.');\n}\nreturn [\n  {\n    json: {\n      targetUrls: urls,\n      maxPosts: perCreator,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-208, 0],
      "id": "parse-config",
      "name": "Parse creator list"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/A3cAPGpwBEG8RJwse/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_APIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"maxComments\": 5,\n  \"maxPosts\": {{ $json.maxPosts }},\n  \"maxReactions\": 5,\n  \"postedLimit\": \"week\",\n  \"scrapeComments\": false,\n  \"scrapeReactions\": false,\n  \"targetUrls\": {{ JSON.stringify($json.targetUrls) }}\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [16, 0],
      "id": "apify-call",
      "name": "Apify — scrape creator posts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [240, 0],
      "id": "aggregate",
      "name": "Aggregate posts"
    },
    {
      "parameters": {
        "jsCode": "// Map raw Apify items into the shape /api/intel/ingest expects.\n// The actor returns one item per scraped LinkedIn post with this rough shape:\n//   { id, linkedinUrl (post URL), content, author: {linkedinUrl, name},\n//     postedAt: {date}, engagement: {likes, comments}, postImages: [...] }\n// We flatten into the IntelRow contract on the linkedin-hq side.\nconst raw = $input.first().json.items || [];\nconst out = [];\nfor (const p of raw) {\n  if (!p) continue;\n  const url = p.linkedinUrl || p.postUrl || p.url || '';\n  const text = p.content || p.text || '';\n  if (!url || !text) continue;\n  const author = p.author || {};\n  const engagement = p.engagement || {};\n  const postedAt = p.postedAt || {};\n  out.push({\n    creator_url: author.linkedinUrl || '',\n    creator_name: author.name || 'linkedin',\n    posted_at: postedAt.date || postedAt || '',\n    url,\n    text,\n    reactions: Number(engagement.likes || 0),\n    comments: Number(engagement.comments || 0),\n    type: 'linkedin',\n  });\n}\nreturn [{ json: { items: out } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 0],
      "id": "normalize",
      "name": "Normalize for ingest"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://linkedin-hq.vercel.app/api/intel/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ingest-token",
              "value": "REPLACE_WITH_INGEST_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"items\": {{ JSON.stringify($json.items) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [688, 0],
      "id": "post-ingest",
      "name": "POST to linkedin-hq"
    },
    {
      "parameters": {
        "content": "## linkedin-hq creator feed\n**What this does**\n1. Reads `linkedin_creators` from the linkedin-hq Config tab (key/value sheet)\n2. Calls Apify actor `A3cAPGpwBEG8RJwse` with those URLs to scrape last-week posts\n3. Maps results into the linkedin-hq Intel row shape\n4. POSTs to `/api/intel/ingest` with the shared-secret header\n\n**To edit the creator list**: just edit row B of `linkedin_creators` in the linkedin-hq Config tab. No need to touch this workflow.\n\n**To rotate the Apify key**: edit the Authorization header in the `Apify — scrape creator posts` node.\n\n**To rotate the ingest token**: edit the x-ingest-token header in the `POST to linkedin-hq` node AND the INTEL_INGEST_TOKEN env var on Vercel — they must match.",
        "height": 280,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-640, -360],
      "typeVersion": 1,
      "id": "doc-note",
      "name": "Documentation"
    }
  ],
  "connections": {
    "Every 4 hours": {
      "main": [[{ "node": "Read linkedin-hq Config", "type": "main", "index": 0 }]]
    },
    "Read linkedin-hq Config": {
      "main": [[{ "node": "Parse creator list", "type": "main", "index": 0 }]]
    },
    "Parse creator list": {
      "main": [[{ "node": "Apify — scrape creator posts", "type": "main", "index": 0 }]]
    },
    "Apify — scrape creator posts": {
      "main": [[{ "node": "Aggregate posts", "type": "main", "index": 0 }]]
    },
    "Aggregate posts": {
      "main": [[{ "node": "Normalize for ingest", "type": "main", "index": 0 }]]
    },
    "Normalize for ingest": {
      "main": [[{ "node": "POST to linkedin-hq", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "linkedin-hq-feed-v1"
}
